//.selected-option {
//  display: flex;
//  align-items: center;
//  padding: 8px;
//  border: 1px solid gray;
//  cursor: pointer;
//}
//.check-icon {
//  margin-left: 8px;
//  font-size: 16px;
//}
//
//.options-list li:hover {
//  background-color: lightgray;
//}
//.select-option {
//  display: inline-block;
//  position: relative;
//  font-size: 16px;
//  color: #333;
//}
//
//.select-option select {
//  padding: 10px;
//  width: 200px;
//  border: 1px solid #ddd;
//  border-radius: 5px;
//  appearance: none;
//  background-color: #fff;
//  background-image: linear-gradient(to bottom, transparent, #fff);
//}
//
//.select-option select::before {
//  content: '';
//  position: absolute;
//  right: 10px;
//  top: 50%;
//  transform: translateY(-50%);
//  width: 0;
//  height: 0;
//  border-left: 6px solid transparent;
//  border-right: 6px solid transparent;
//  border-top: 6px solid #333;
//}
//
//.select-option select:focus {
//  outline: none;
//  border-color: #999;
//}
//
//.select-option option {
//  font-size: 16px;
//  padding: 10px;
//}
.slelect-wrap{
  position: relative;
  width: 300px;
  .select-title{
    display: flex;
    align-items: center;
    padding-top: 0.55rem;
    padding-bottom: 0.55rem;
    padding-left: 0.75rem;
    font-size: 0.95rem;
    border-radius: 0.425rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%237E8299' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-color: #dddddd;
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px auto;
    color: #ffffff;
  }
  --bs-component-hover-color: #009ef7;
  .select-content{
    border: 0;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    border-radius: 0.475rem;
    background-color: #dddddd;

    .options-list{
      margin: 0;
      padding: 0;
      li{
        color: #5E6278;
        transition: color 0.3s ease;
        padding: 0.75rem 1.25rem;
        margin: 0 0;
        list-style: none;
        position: relative;
        cursor: pointer;
        &:hover{
          background-color: #F4F6FA;
        };
        &.active{
          background-color: #F4F6FA;
          &:before{
            top: 50%;
            display: block;
            position: absolute;
            transform: translateY(-50%);
            height: 0.75rem;
            width: 0.75rem;
            content: "";
            mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            background-color: var(--bs-component-hover-color);
            mask-position: center;
            -webkit-mask-position: center;
            right: 1.25rem;
            background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 11'%3e%3cpath fill='blue' d='M4.89557 6.49823L2.79487 4.26513C2.26967 3.70683 1.38251 3.70683 0.857309 4.26513C0.375593 4.77721 0.375593 5.57574 0.857309 6.08781L4.74989 10.2257C5.14476 10.6455 5.81176 10.6455 6.20663 10.2257L13.1427 2.85252C13.6244 2.34044 13.6244 1.54191 13.1427 1.02984C12.6175 0.471537 11.7303 0.471536 11.2051 1.02984L6.06096 6.49823C5.74506 6.83403 5.21146 6.83403 4.89557 6.49823Z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
          }
          &:hover{
              background-color: red;
            };

        }
      }
    }
  }
}
