<!--<div class="selected-option" (click)="toggleOptions()">-->
<!--  {{selectedOption}}-->
<!--  <span *ngIf="selectedOption" class="check-icon">&#10003;</span>-->
<!--</div>-->
<!--<ul *ngIf="showOptions" class="options-list">-->
<!--  <li *ngFor="let option of options" (click)="selectOption(option)">{{option}}</li>-->
<!--</ul>-->

<div class="slelect-wrap" (click)="toggleOptions()">
  <div class="select-title form-select">
    <div>
      {{selectedOption?selectedOption}}
    </div>
  </div>
  <div class="select-content" *ngIf="!showOptions">
    <ul class="options-list" >
      <li [ngClass]="{'active': selectedOption === option}" *ngFor="let option of options" (click)="selectOption(option)">{{option}}</li>
    </ul>
  </div>
</div>
