<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <input type="text" class="form-control" [(ngModel)]="serverName">

      <button class="btn btn-primary" (click)="addServer()"> add server</button>

      <p *ngIf="serverCreated ;else noServer">server was create,server name is {{serverName}}</p>

<!--      cách sử dụng khác với ngIf-->
      <ng-template #noServer>
        <p>no server was created!</p>

      </ng-template>


    </div>
    <div class="col-4">
      <app-select-custom [options]="options" (selectedOption)="selectedOption=$event"></app-select-custom>F
    </div>
  </div>
</div>
